# base
requests==2.26.0
nltk==3.6.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm==2.2.5
git+https://github.com/deepmipt/dialog_flow_framework.git@8cd4cdce010b45ce397070076330ab54787d978e